/*this is the font family and colour for the whole page as of the first iteration this is roboto*/
* {
    font-family:  Verdana, sans-serif;
    color: #ffffff;
    background-color: var(--background-colour)
}

.codeText {
    font-family: "Lucida Console";
}


/*holy moly css has variables will this make my life easier or harder*/
:root {
    --header-height: 60px;
    --header-height-offset: 70px;
    --background-colour: rgb(44, 44, 44);
    --header-background-colour: rgb(200, 230, 255);
}

/*cool fade in transition*/
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

/*this should be always at the top of the page*/
#header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--header-background-colour);
}

/*style for the buttons - probably not most efficent way but hey thats human code*/
.headerButton {
    padding: 6px 15px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    color: var(--background-colour);
    background-color: var(--header-background-colour);
    top: 22px;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: 0px;
    outline-color: black;
    box-shadow: 5px 5px;
    transition: box-shadow 0.2s ease,  background-color 0.3s ease, color 0.3s ease;
}

/*a really cool hover effect*/
.headerButton:hover {
    box-shadow: 0px 0px;
    background-color: var(--background-colour);
    color: var(--header-background-colour);
}

#headerButtonHome {
    left: 5%;
}

#headerButtonInfo {
    left: 10%;
}

#headerButtonProjects {
    left: 15%;
}

#headerButtonCV {
    left: 20%;
}

